{% extends "/email/base_layout.twig" %}

{% block subject %}Welcome to nebalus.dev{% endblock %}

{% block content %}
    <p>Hello {{ username }},</p>

    <p>Thank you for registering.</p>

    <p>
        <a href="{{ activation_link }}">Activate your account</a>
    </p>
{% endblock %}
