{% extends "/email/base_layout.twig" %}

{% block subject %}Your Password Has Been Changed{% endblock %}

{% block content %}
    <p>Hello {{ username }},</p>

    <p>Your password was successfully changed.</p>

    <ul>
        <li>IP address: {{ ip_address }}</li>
        <li>Time: {{ change_time }}</li>
    </ul>

    <p>If you did not make this change, please contact support immediately.</p>
{% endblock %}
